<!-- DIRECTIVA ATRIBUTOS -->
<h4>ngStyle</h4>
<!--A1 ngStyle -->

<!-- que podemos hacer con ngStyle...es para poder modificar estilos
siempre a partir de variables es decir estilos dinamicos a partir de 
una variable y cuando modifique esos estilos este parrafo se vea modificado
Lo primero es situar el ngStyle entre corchetes ya que lo que voy a agregar
 en las comillas va aser codigo JS 
entre comillas voy a definir un objeto en el cual yo pueda definir sus propiedades
por ejempo color y fontSize siguiendo la sintaxis del CamelCase-->
<p [ngStyle]="{color:'red',fontSize:'15px'}">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, quos quibusdam dolore omnis nihil blanditiis accusantium perspiciatis maiores similique sint alias tempore id adipisci voluptas! Numquam quisquam officiis perferendis eligendi.
  sds
</p>
<!-- A2 pasando el objeto como una variable 
LOS MISMOS estilos en ves de estar definidos en laplantilla estandefinidos enel TS-->
<p [ngStyle]="propiedadesParrafo">
  COMO VARIABLE quos quibusdam dolore omnis nihil blanditiis accusantium perspiciatis maiores similique sint alias tempore id adipisci voluptas! Numquam quisquam officiis perferendis eligendi.
</p>
<div>
  <button (click)="cambiaColor('v')">verde</button>
  <button (click)="cambiaColor('r')">rojo</button>
  <button (click)="cambiaColor('a')">amarillo</button>
  <button (click)="cambiaTamano('mas')">Tamano mas</button>
  <button (click)="cambiaTamano('menos')">tamano menos</button>
</div>
<hr>
<h5>ngStyle con ngModel</h5>
<!--B1   el; ngModel no servia para enlazar un propiedad o el valor
de una variable ccon el valor de un cmapo de texto ..vamos intenar enganchar
la propiedad color con el valor de un campo de texto -->
<!-- lo primero para utilizar el ngModel es:
    1 ir al modulo de la aplicacion importar librreria FormsModule
    2 debajo de eso incorporar en el imports ...esto para que 
      todos los componentes reconozcan todas las herramientas que se
      encuentran en el FormsModule-->
<!-- creando input y enganchando con la propiedad que modifica el color
    en nuestro caso de nuestro parrafo -->
<!-- [(ngModel)] asignado con la propiedad que va estar engnchado
en nuestro caso nuestra propiedad es llamada propiedadesParrafo y lo que 
queremos modificar es color -->
<div>
  <input type="text" [(ngModel)]="propiedadesParrafo.color">
</div>
<hr>
<h5>ngStyle (change)</h5>
<!-- C1 planteandonos commo modificar el tama;o del texto a partir de
un campo Range(una bolita que se mueve)  -->
<!-- vamos utiliar el change con el $event porque queremos aber el valor de este campo -->
<div>
  <input type="range" min="12" max="100" setp="2" (change)="onChange($event)">
</div>
<h5>ngStyle (input)</h5>
<!-- vamos utiliar el input con el $event porque queremos aber el valor de este campo -->
<div>
  <input type="range" min="12" max="100" setp="2" (input)="onInput($event)">
</div>
<hr>
<h4>ngClass</h4>
<!-- D1 ngClass.....Dsinificado: 
  nos permitirán agregar clases dinámicamente sobre el elemento HTML seleccionado -->
<!-- vamos a pder agregar o quitar clases css deanera dinamica
para ELLO vamos a crear un componente   luego trabajar en su html y 
en sus estilos -->
<app-semaforo> </app-semaforo>

<hr>
<!-- DIRECTIVAS ESTRUCTURALES -->
<h4>ngIf</h4>
<!-- F1 ngIf lo que nos permite es mostrar u ocultar diferentes elementos
 en funcion de ciertas expresiones ...si yo devuelvo true o false se muetra
o no un elemento 
Ejemlplo quiero que el siguiente parrado se muestre en funcion de una expresion
la sintaxis del ngIf es *ngIf y ponerla entre comillas una expresion (true o false)
si pongo true el contenido no se ve afectado y si pongo false el parrafo se oculta-->
<p *ngIf="false">Contendido Parrafo</p>
<!-- F2 a partir del componente ts crearemos la propiedad mostrar-->
<p *ngIf="mostrar">Contendido Parrafo</p>
<!-- F4 haciendoolo mas dinamico creando un boton-->
<button (click)="onClickMostar()">Mostrar / Ocultar</button>


<!-- --------------------------------------------------- -->
<!-- G1 ngIf else -->
<h4>ngIf else</h4>
<!-- quiero que este parrafo se muestra cuando la variable mostrar sea false 
es decir si la variable  mostrar es true se muestra el primer parrafo
pero si es flaso que se muestre el segundo parrafo
Tenemos que incoporar dentro de una etiqueta que no aporte ningun contenido
a la pagina web que estamos trabajando en este caso ANGULAR nos ofrece la 
etiqueta ng-template que no hace nada sino que envuelve el elemento para
poder trabajar con el -->
<!-- despues del *ngIf que me va devolver una sentencia yo puedo poner la 
expresion del else  y luego el nombre del Bloque que quero activar 
ej elseBlock  ....ahora para definir este bloque (elseBlock) vamos a usar variables
de plantilla con el la amohadilla #elseBlock-->
<p *ngIf="mostrar; else elseBlock">Contendido Parrafo 1</p>

<ng-template #elseBlock >
  <p>Contendido Parrafo 2</p>
</ng-template>
<button (click)="onClickMostar2()">Mostrar / Ocultar</button>

<!-- ngIf then else -->
<h4>ngIf then else</h4>
<p *ngIf="mostrar; then mainBlock else elseBlock">Contendido Parrafo</p>
<ng-template #mainBlock>
  <p>Contendido del PRIMER Parrafo</p>
</ng-template>
<ng-template #elseBlock >
  <p>Contendido del SEGUNDO Parrafo</p>
</ng-template>
<button (click)="onClickMostar3()">Mostrar / Ocultar</button>

<!-- Otra mejor forma de THEN ELSE -->
<h4>ngIf then else rapida</h4>

<p *ngIf="mostrar">Contendido 1er Parrafo</p>
<p *ngIf="!mostrar">Contendido 2do Parrafo</p>

<button (click)="onClickMostar4()">Mostrar / Ocultar</button>

<hr>
<h4>ngFor</h4>
<!-- G1 Directiva estructural ngFor 
repetir los bloques tantas veces necesitemos
VAMOS A CREAR UN nuevo componente -->
<app-bucles></app-bucles>

<hr>
<h4>ngSwitch</h4>
<!-- H1 Directiva ngSwitch consta de dos tipos de directiva 
una directiva de atributo y una de estructural o cual veremos ahora -->
<!-- creando un nuevo componente Switch-->
<app-switch></app-switch>

<h3>DIRECTIVAS PERSONALIZADAS</h3> 
<h4>y Direcivas Perzonalizadas RENDERER</h4>

<!-- I4  aplicando la directiva propia mia-->
<p subrayado>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, reprehenderit.</p>
<p subrayado>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, corrupti.</p>

<!-- J1 para evadirnos de las herramientas del navegador y poder cambiar estos estilos
  independientemente de la plataforma que estamos trabajando tenemos una herramienta
en este caso que es el renderer J2 en el ts de subrayado -->

<h4>Direct Perz @HOSTLISTENER</h4>
<!-- K1 este decorador nos permite capturar eventos que hayan sucedido sobre
aquellor elementos queayamos aplicado la directiva....es decir yo me quiero enterar
que eventos estan pasando sobre las cosas del html de las cuales he aplicado
la directivas.....como se utiliza? en subrayado.diretive.ts K2  -->
<p subrayado>Usando HostListener  ////////Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum rem, blanditiis atque sapiente nihil eligendi?</p>

<h4>Direct Perz @HostBinding</h4>
<!-- L1 podemos modificar los atributos internamente para ello en el ts
tenemos disponible otro decorador L2 despues ya sera cosa del css L5-->
<p subrayado>Usando @HostBinding ////////////Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsam distinctio illum aut incidunt maxime quasi quidem sequi est corrupti?</p>

<h4>Direct Perz @Input</h4>
<!-- M1 de la misma manera que utilizabamos en los componentes vamos utilizar 
en las directivas simplemente pasando informacion desde el elemento padre
es decir desde donde estemos definiendo o ejecutando esta directiva ..
nos vamos al ts importando el input M2-->
<!--  M5  definiendo una propiedad que sea config y pasarle el valor del objeto
..ahora si quiero pasarle el objeto la propiedad tiene que ir entre corchetes por que 
recibe sentencia JS-->
<p [subrayado]="{colorHover:'blue',colorNoHover:'blueviolet'}">Usando @Input /////////// Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime dolorum mollitia porro laborum molestias, quae officia? Voluptatibus ab debitis ad.</p>
<p [subrayado]="{colorHover:'pink',colorNoHover:'orange'}">Usando @Input /////////// Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime dolorum mollitia porro laborum molestias, quae officia? Voluptatibus ab debitis ad.</p>

